body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-content: stretch;  
}
header * {
  font-size: 2.5rem;
  text-align: center;
  vertical-align: middle;
  width: 33vw;
}
button {
  font-size: 2.2rem;
}
@media all and (orientation: portrait) {
  .board {
    background-color: rgba(32, 32, 32, 0.9);
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-auto-rows: 10vw;
    max-width: 100vw;
  }
}
@media all and (orientation: landscape) {
  .board {
    background-color: rgba(32, 32, 32, 0.9);
    display: grid;
    grid-template-columns: repeat(10, 9.4vh);
    grid-auto-rows: 9.4vh;
    max-width: 94vh;
  }
}
.cell {
  outline: 1px solid #555;
}
.corner {
  background-color: #fff;
  outline: none;
}
.edgeCell {
  font-family: Symbols1;
  outline: 1px solid #fff;
  background-color: #888;
}
.edgeCell.selected {
  outline: 1px solid black;
  background-color: orange;
}
.edgeCell.hit {
  outline: 1px solid black;
  background-color: red;  
}
.edgeCell.reflection {
  outline: 1px solid black;
  background-color: yellow;
}
.gridCell.guess1 {
  border: 1px solid rgba(0, 224, 164, 0.2);
  background-color: rgba(0, 224, 164, 0.2);
  border-radius: 50%;
}
.gridCell.guess2 {
  border: 1px solid rgba(0, 224, 0, 1);
  background-color: rgba(0, 224, 0, 1);
  border-radius: 50%;
}
